body{
	margin:0px auto;
}
.outer1{
	background-color:white;
	width:100%;
}
.row1{
	background-color:white;
	width:90%;
	margin:0px auto;
	height:20%;
}
.r1col1{
	width:20%;
	float:left;
}
.r1col2{
	width:70%;
	text-align:right;
	margin-left:30%;
}
ul{
	list-style:none;
}
ul li{
	display:inline-block;
}
ul li a{
	float:right;
	text-decoration:none;
	color:nblue;
}
.outer2{
	width:100%;
	font-size:20px;
}
.row2{
	width:100%;
	margin:0px auto;
}
.image1{
	background-image:url('images/pic1.jpg');
	background-position:center;
	background-repeat:no-repeat;	
	background-size:cover;
	position:relative;
	height:300px;
}
.text-block1{
	text-align:center;
	position:absolute;
	top:70%;
	left:35%;
	transform:translate(-50%,-50%);
	color:white;
	padding-left:40px;
	padding-right:40px;
	float:left;
}
.text-block2{
	text-align:center;
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(-50%,-50%);
	color:white;
	background-color:rgb(64,64,64,.5);
	padding-left:50px;
	padding-right:50px;
}
.text-block3{
	text-align:center;
	position:absolute;
	top:70%;
	left:66%;
	transform:translate(-50%,-50%);
	color:white;
	background-color:rgb(85,128,0,.5);
	padding-left:40px;
	padding-right:40px;
}
.outer3{
	width:100%;
	background-color:#f2f2f2;
}
.row3{
	width:90%;
	margin:0px auto;
	background-color:#f2f2f2;
}
.r3col1{
	width:20%;
	margin-top:8px;
	padding-top:8px;
	padding-bottom:8px;
	font-size:15px;
}
.r3col2{
	width:70%;
	margin-top:-30px;
	margin-left:100px;
}
.outer4{
	width:100%;
}
.row4{
	width:90%;
	margin:0px auto;
}
.r4col1{
	width:22.5%;
	margin-top:15px;
	height:230px;
	padding:5px;
	float:left;
}
.image2{
	background-image:url('fa/images/4.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	height:150px;
}
.r4col2{
	width:22.5%;
	float:left;
	margin-top:-5px;
	height:230px;
    padding:25px;	
}
.image3{
	background-image:url('fa/images/1.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	height:150px;
	width:120%;
}
.r4col3{
	width:22.5%;
	float:left;
	height:230px;
	margin-left:9%;
}
* {
    box-sizing: border-box;
}
hr { 
    border-width: 0.5px;
    width:80%;
	margin-left:5px;
}
.r4col4{
	background-color:#004080;
	width:22.5%;
	float:left;
	height:300px;
	margin-top:20px;
}
h2{
	text-align:center;
	color:white;
	padding:20px;
}
.btn a{
	background-color:#669900;
	color:white;
	text-decoration:none;
	padding:5px;
}
.link {
	text-align:center;
	padding:40px;
}
.link a{
	color:white;
	text-decoration:none;
}
@media (min-width:100px) and (max-width:600px){
.row1{
	width:100%;
	height:180px;
}
.r1col1{
	width:100%;
	text-align:center;
}
.r1col2{
	width:70%;
	text-align:center;
	margin-left:-11%;
}
ul{
	list-style:none;
}
ul li{
	display:block;
}
ul li a{
	text-align:center;
	text-decoration:none;
	color:nblue;
}
.row2{
	height:180px;
}
.text-block1{
	text-align:center;
	position:absolute;
	transform:translate(-110%,-50%);
	color:white;
	background-color:rgb(0,0,77,.5);
	padding-left:20px;
	padding-right:20px;
}
.text-block2{
	text-align:center;
	position:absolute;
	transform:translate(-60%,-90%);
	color:white;
	background-color:rgb(51,51,51,.5);
	padding-left:30px;
	padding-right:30px;
}
.text-block3{
	text-align:center;
	position:absolute;
	transform:translate(-10%,-50%);
	color:white;
	background-color:rgb(85,128,0,.5);
	padding-left:20px;
	padding-right:20px;
}
.row3{
	width:50%;
	margin-left:5%;
}
.r3col1{
	width:100%;
	margin-top:130px;
	font-size:15px;
}
.r3col2{
	width:100%;
}
.row4{
	height:180px;
}
.r4col1{
	width:100%;
}
.r4col2{
	width:90%;
	margin-top:70px;
}
.r4col3{
	width:90%;
	margin-top:90px;
}
.r4col4{
	width:100%;
	margin-top:130px;
}
}